<form ng-submit="submitSexToDec()">
  <fieldset>
    <legend>Sex to Dec</legend>
    <div class="form-group">
      <label for="input_degree">Degrées</label>
        <input id="input_degree" class="form-control" type="number" ng-model="sexDeg" name ="degree" />
    </div>
    <div class="form-group">
      <label for="input_minute">Minutes</label>
        <input id="input_minute" class="form-control" type="number" ng-model="sexMin" name ="minutes" />
        
    </div>
    <div class="form-group">
      <label for="input_seconde">Secondes</label>
        <input id="input_seconde" class="form-control" type="number" ng-model="sexSec" name ="seconds" />
    </div>
    <input type="submit" value="Calculer" />
  </fieldset>
</form>

<p>{{ sexRes }}</p>

<form ng-submit="submitDecToSex()">
  <fieldset>
    <legend>Latitude</legend>
    <label style="display:block"> Valeur
      <input type="number" ng-model="decValue" name ="Valeur" />
    </label>
    <input type="submit" value="Calculer" style="display:block" />
  </fieldset>

</form>

<p>{{ decRes }}</p>